@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  background-color: #050a1b;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template:
    'encabezado' auto
    'sobre-mi' auto
    'proyectos' auto
    'contacto' auto
    'footer' 70px;
  gap: 20px;
}

/* Encabezado y Navbar */
.encabezado {
  grid-area: encabezado;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 5px #12fbf7, 0 0 10px #12fbf7;
}

.encabezado .nav {
  width: 100vw;
  height: 75px;
  padding-right: 20px;
  background-color: #000;
  box-shadow: 0 0 5px #12fbf7, 0 0 10px #12fbf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 4;
}

/* Logo MD */
.encabezado .nav .logo-container {
  width: 40px;
  height: 40px;
  border: 2px solid #12fbf7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #12fbf7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 30px;
  padding: 10px;
  transition: box-shadow 1s ease;
}

.encabezado .nav .logo-container:hover {
  box-shadow: 0px 0px 20px #12fbf7, 0px 0px 25px #12fbf7;
}

.encabezado .nav .logo-container .logo {
  font-family: 'Roboto', system-ui;
  font-size: 24px;
  font-weight: bold;
  color: #12fbf7;
}

.encabezado .nav .nav-list {
  width: 100%;
  height: 0vh;
  background-color: #000000e3;
  position: fixed;
  top: 75px;
  float: right;
  text-align: center;
  transition: all 1s;
}

.encabezado .nav .nav-list li {
  opacity: 0;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.8s;
}

.encabezado .nav .nav-list li a {
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}

.encabezado .nav .nav-list li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #12fbf7;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: all 0.8s ease;
}

.encabezado .nav .nav-list li a:hover::after {
  width: 100%;
}

.encabezado .nav .hamburger-btn {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  color: #12fbf7;
  float: right;
  line-height: 75px;
  margin-right: 20px;
}

#check {
  display: none;
}

#check:checked ~ .nav-list {
  height: 100vh;
  box-shadow: 0 0 5px #12fbf7, 0 0 10px #12fbf7;
}

#check:checked ~ .nav-list li {
  opacity: 1;
}

/* Titulo del encabezado*/
.encabezado .titulo {
  font-family: 'Roboto', system-ui;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.encabezado .titulo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.encabezado .titulo h1,
.encabezado .titulo h2,
.encabezado .titulo p {
  position: relative;
  z-index: 3;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9), 4px 4px 15px rgba(0, 0, 0, 0.9);
}

.encabezado .titulo h1 {
  text-align: center;
  font-size: 3rem;
  color: #12fbf7;
}

.encabezado .titulo h2 {
  text-transform: uppercase;
  padding: 5px 0;
  border-top: 3px solid #12fbf7;
  border-bottom: 3px solid #12fbf7;
}

.encabezado .titulo p {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  text-align: center;
}

/* Sección Sobre Mí */
.sobre-mi {
  grid-area: sobre-mi;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sobre-mi h2,
.contacto h2,
.proyectos h2 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #12fbf7;
}

.sobre-mi .cont-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sobre-mi .cont-sobre img {
  border: 3px solid #12fbf7;
  border-radius: 50%;
  width: 60%;
  box-shadow: 0px 0px 10px #12fbf7;
}

.sobre-mi .cont-sobre img:hover {
  box-shadow: 0px 0px 20px #12fbf7;
}

.sobre-mi .cont-sobre .parrafo {
  width: 100%;
  text-align: justify;
  letter-spacing: 1.1px;
  /* padding: 0px 30px; */
  text-indent: 30px;
}

/* Sección Proyectos */
.proyectos {
  grid-area: proyectos;
  min-height: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.container-cards {
  width: 100%;
  min-height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 25px;
  padding: 20px;
}

.container-cards .card {
  width: 100%;
  min-height: 380px;
  padding: 10px;
  background-color: #1f1e1c;
  border: 3px solid #12fbf7;
  border-radius: 8px;
  box-shadow: 0 0px 10px #12fbf7;
  position: relative;
  overflow: hidden;
}

.container-cards .card img {
  width: 100%;
}

.container-cards .card h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-top: 2px solid #12fbf7;
  border-bottom: 2px solid #12fbf7;
  margin: 10px 0;
}
.container-cards .card h2 .color {
  color: #12fbf7;
}

.container-cards .card h2 span {
  font-size: 1rem;
  text-transform: capitalize;
}

.container-cards .card p {
  height: 10vh;
  color: #fff;
  font-size: 1rem;
  text-align: justify;
}

.container-cards .card a {
  width: 100%;
  padding: 5px 0;
  text-transform: uppercase;
  color: #000;
  text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff,
    -2px -2px 0 #fff;
  background-color: #12fbf7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s ease;
}

.container-cards .card a:hover {
  background-color: transparent;
  color: #12fbf7;
  border: 2px solid #12fbf7;
  text-shadow: 2px 2px 0 #1f1e1c, -2px 2px 0 #1f1e1c, 2px -2px 0 #1f1e1c,
    -2px -2px 0 #1f1e1c;
}

/* Sección contacto */
.contacto {
  grid-area: contacto;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contacto p {
  text-align: center;
  letter-spacing: 1.2px;
  margin: 10px 0px;
  text-shadow: 0px 0px 10px #000;
}

.contacto .contenido-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Estilos para el formulario */
.contacto .contenido-contacto .contact-form {
  width: 100%;
  background-color: #000;
  border: 2px solid #12fbf7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #12fbf7;
}

.contacto .contenido-contacto .contact-form .form-group {
  margin-bottom: 15px;
}

.contacto .contenido-contacto .contact-form .form-group label {
  margin-bottom: 5px;
  letter-spacing: 1.1px;
}

.contacto .contenido-contacto .contact-form .form-group input,
.contacto .contenido-contacto .contact-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333333;
  color: #ffffff;
}

.contacto .contenido-contacto .contact-form .form-group input:focus,
.contacto .contenido-contacto .contact-form .form-group textarea:focus {
  outline: 2px solid #12fbf7;
}

.contacto .contenido-contacto .contact-form .form-group button {
  text-transform: uppercase;
  background-color: #12fbf7;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.8s ease;
}

.contacto .contenido-contacto .contact-form .form-group button:hover {
  background-color: transparent;
  color: #12fbf7;
  border: 2px solid #12fbf7;
}

/* Estilos para los iconos */
.contacto .contenido-contacto .iconos-contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.contacto .contenido-contacto .iconos-contacto a {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid #12fbf7;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}

.contacto .contenido-contacto .iconos-contacto a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #12fbf7;
}

.contacto .contenido-contacto .iconos-contacto a i {
  color: #12fbf7;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: #000;
  padding-top: 20px;
}

.footer p {
  text-align: center;
  color: #ffffff;
}

/* Estilod Modal */
/* Estilos generales del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #050a1b;
  margin: 40% auto; /* Centrado vertical y horizontal */
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
  border: 3px solid #12fbf7;
  /* text-align: center; */
  position: relative;
}

/* Estilo del botón de cerrar (X) */
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.modal .close:hover {
  color: #12fbf7;
}

/* Imagen del modal */
.modal-content img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* Título del modal */
.modal-content h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #fff;
}

.modal-content .color {
  color: #12fbf7;
}

/* Línea de color debajo del título */
.color-line {
  width: 100%;
  height: 2px;
  background-color: #12fbf7;
  margin: 10px 0;
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.caracteristicas p {
  color: #fff;
}

.caracteristicas .color {
  color: #12fbf7;
}

/* Íconos de tecnologías usadas */
.tecnologias {
  margin: 20px auto;
}

.tecnologias i {
  font-size: 30px;
  margin: 0 10px;
  color: #12fbf7;
}

/* Estilos de los botones del modal */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.modal-buttons .btn {
  background-color: #12fbf7;
  color: #000;
  text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff,
    -2px -2px 0 #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.modal-buttons .btn:hover {
  background-color: #8fe9e8;
}

/* Mostrar el modal cuando esté activo */
.modal.active {
  display: block;
}

/* Media Queries */
/* Tablet */
@media (min-width: 600px) {
  .grid-container {
    grid-template:
      'encabezado encabezado' auto
      'sobre-mi sobre-mi' auto
      'proyectos proyectos' auto
      'contacto contacto' auto
      'footer footer' 70px;
  }

  .encabezado .nav .hamburger-btn {
    display: none;
  }

  .encabezado .nav .nav-list {
    position: relative;
    top: 0;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }

  .encabezado .nav .nav-list li {
    display: inline-block;
    opacity: 1;
    margin: 0;
    line-height: 75px;
    transition: none;
  }

  .encabezado .titulo h1 {
    font-size: 4rem;
  }

  .encabezado .titulo p {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
  }

  .sobre-mi {
    padding: 30px 0px;
    margin-top: 0px;
    height: 100vh;
  }

  .sobre-mi .cont-sobre {
    padding-top: 50px;
    flex-direction: row;
  }

  .sobre-mi .cont-sobre img {
    width: 20%;
  }

  .sobre-mi .cont-sobre .parrafo {
    width: 50%;
  }

  .proyectos {
    padding: 105px 40px;
  }

  .proyectos .container-cards {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .contacto {
    height: 100vh;
  }

  .contacto h2 {
    margin-top: 20px;
  }
  .contacto p {
    margin-bottom: 10px;
  }

  .contacto .contenido-contacto {
    flex-direction: row;
  }

  .contacto .contenido-contacto .contact-form {
    width: 100%;
  }

  .contacto .contenido-contacto .iconos-contacto {
    width: 10%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    gap: 30px;
  }

  .footer {
    margin-top: 0px;
  }

  .modal-content {
    width: 50%;
  }

  .tecnologias {
    margin: 20px 0;
  }
}

/* Escritorio */
@media (min-width: 900px) {
  .grid-container {
    grid-template:
      'encabezado encabezado encabezado' auto
      'sobre-mi sobre-mi sobre-mi' auto
      'proyectos proyectos proyectos' auto
      'contacto contacto contacto' auto
      'footer footer footer' 70px;
  }

  .proyectos .container-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .contacto .contenido-contacto .contact-form {
    width: 60%;
    margin-left: 50px;
  }
}
